.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.text-primary {
  color: black;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    opacity: 90%;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  opacity: 90%
}

.section-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  opacity: 90%
}

.section-4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  opacity: 90%
}

input {
  width: 50%;
}

.me {
  border-radius: 10%;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #697DBE;
  color: #F6FFF8;
}